<div id="register">
   <div class="redrawing-field">
      <h4>「ゆずるくん」として登録します</h4>
      <form action="#">
         <label for="input-station-from">乗車駅：</label><input type="text" name="station_from" id="input-station-from"><br>
         <label for="input-ride-t">乗車時刻：</label><input type="text" name="ride_t" id="input-ride-t"><br>
         <label for="input-station-to">降車駅：</label><input type="text" name="station_to" id="input-station-to"><br>
         <label for="input-track">路線情報：</label><input type="text" name="track" id="input-track"><br>
         <label for="input-train-number">号車番号：</label><input type="text" name="train_number" id="input-train-number"><br>
         <div class="input-field">
            <select id="select-register">
               <option value="front" selected>前</option>
               <option value="center">中央</option>
               <option value="back">後ろ</option>
            </select>
            <label>車両内での位置：</label>
         </div>

      </form>
      <div class="action-field">
         <a id="btn-register" class="waves-effect waves-light btn-large">登録</a>
      </div>
   </div>


</div>
