<div id="sample">
   <h3>Sample</h3>

   <div class="row s1 m1">
      <div class="card blue-grey darken-1">
         <div class="card-content white-text">
            <span class="card-title">ゆずるくん1号</span>
            <p>乗車車両： 3号車</p>
            <p>座席位置： 前</p>
         </div>
         <div class="card-action">
            <a href="javascript:void(0);" class="waves-effect waves-teal btn-flat do-match right-align" onClick="doMatch();">マッチング</a>
         </div>
      </div>
   </div>
   
   
</div>
